[CONFIG]
#broker IP address
broker = 1.1.1.1
#broker port number
port = 1883
#username for the MQTT broker
mqttusername = USERNAME
#password for the MQTT broker
mqttpassword = PASSWORD
#location written in cyrillic like in Toplofikaciya's website
location = Ж.К. МЛАДОСТ - 4 Бл.499
#username for the Toplofikaciya's website
toplousername = email@address.com
#password for the Toplofikaciya's website
toplopassword = PASSWORD
#time between cycles in seconds - 120 seconds value is more than enough
freq = 120
#You can optionally define your own Selenium server (for example "http://2.2.2.2:4444"), otherwise leave it as "" so it can be ignored:
# selenium_server = "http://2.2.2.2:4444"
selenium_server = ""



